@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0f0f0f;
}
::-webkit-scrollbar-thumb {
  background: #ff4d8b;
  border-radius: 20px;
}

/* Neon title effect */
.neon-title {
  color: #ff4d8b;
  text-shadow: 0 0 5px #ff4d8b, 0 0 10px #ff4d8b, 0 0 20px #ff4d8b;
}
